.commentActions {
  cursor: pointer;

  span {
    margin-left: 8px;
  }
}

.avatar {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  margin-top: -4px;
  background-color: #eee;
}
