.commentActions {
  cursor: pointer;

  span {
    margin-left: 8px;
  }
}

.commentContent {
  position: relative;

  &.addLine {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 30px;
      pointer-events: none;
      border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    }
  }

  :global {
    .markdown {
      background-color: transparent !important;
    }
  }

  p {
    margin: 0;
  }
}

.avatar {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  margin-top: -4px;
  background-color: #eee;
}
