.wrapper {
  .formItem {
    margin-top: 16px;
  }

  :global {
    .CodeMirror {
      height: 480px !important;
    }
  }

  .operation {
    height: 56px;
    line-height: 56px;
    background: #fff;
    z-index: 1000;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    button + button {
      margin-left: 16px;
    }
  }
}
