@import "../src/theme/var.scss";

.banner {
  background: url(https://thrive.app/images/titles/title-blog-index.svg)
    no-repeat center center;
  margin: 1.5rem 0 0 0;
  height: 250px;
}

.tagList {
  ul {
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  }

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 24px;
    white-space: nowrap;

    + li {
      margin-left: 1.2em;
    }

    &.active {
      color: $feMainColor;
      border: 1px solid $feMainColor;
      background-color: $feBgColor;
      border-radius: 4px;
    }
  }
}

.loader {
  text-align: center;
  padding-bottom: 1.5rem;
}

.articleList {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .articleListItem {
    > div {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
    }

    img {
      display: inline-block;
      width: 100%;
      height: 180px;
    }

    .info {
      padding: 1rem;

      .title {
        font-size: 18px;
        font-weight: 600;
      }

      .desc {
        font-size: 14px;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .meta {
        margin: 0;
        color: $feMainColor;
      }
    }
  }
}

@media (min-width: 992px) {
  .listContainer {
    :global {
      .ant-row {
        > div {
          &:nth-of-type(n + 4) {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .listContainer {
    :global {
      .ant-row {
        > div {
          &:nth-of-type(n + 3) {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .listContainer {
    :global {
      .ant-row {
        > div {
          + div {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  .articleListItem + .articleListItem {
    margin-top: 1.5rem;
  }
}
