@media (min-width: 768px) {
  .info {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .info {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .info {
    width: 1140px;
  }
}

footer {
  border-top: 1px solid #eee;
  color: #888;
  line-height: 1.6;
  vertical-align: top;
  background: #404040;
  text-align: center;
}

.info {
  padding: 35px 0;
  color: #e5e5e5;
  margin: 0 auto;
}

.copyright {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #111111;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 5px;
  border-top: 1px solid #303030;
  font-size: 16px;
}
