@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

footer {
  border-top: 1px solid #eee;
  padding: 40px 0;
  color: #888;
  line-height: 1.6;
  vertical-align: top;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
}
