@import "../../theme/var.scss";

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

$height: 64px;

header {
  padding: 16px 0;
}

.wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: $height;
    line-height: $height;
    text-align: left;
    color: #333;

    img {
      width: 32px;
    }
  }

  .mobileTrigger {
    display: none;

    .stick {
      width: 25px;
      height: 4px;
      background-color: #ff0064;
      opacity: 1;
      border-radius: 5px;
      transition: all 250ms ease-in-out 0s;

      &:nth-of-type(2) {
        margin: 5px 0;
      }
    }

    &.active {
      .stick {
        &:first-of-type {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 18px;
    // margin-left: 48px;

    ul {
      li {
        display: inline-flex;
        padding: 0;
        vertical-align: middle;
        line-height: 64px;
        padding: 0 12px;

        &:first-of-type {
          padding-left: 0;
        }

        &.active {
          color: $feMainColor;
        }

        a {
          color: inherit;
          width: 100%;
        }
      }

      .search {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTkuMTMgMTkuMjEiPjxkZWZzPjxzdHlsZT4uY2xzLTEsLmNscy0ze2ZpbGw6bm9uZTt9LmNscy0ye2NsaXAtcGF0aDp1cmwoI2NsaXAtcGF0aCk7fS5jbHMtM3tzdHJva2U6IzAwMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjE0LjU3IiB5PSIxNC42NSIgd2lkdGg9IjMuODUiIGhlaWdodD0iMy44NSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzMgMzMuMTUpIHJvdGF0ZSgtMTgwKSIvPjwvY2xpcFBhdGg+PC9kZWZzPjx0aXRsZT5zZWFyY2g8L3RpdGxlPjxnIGlkPSLlm77lsYJfMiIgZGF0YS1uYW1lPSLlm77lsYIgMiI+PGcgaWQ9ImRlc2lnbiI+PGcgaWQ9IuWvvOiIqiI+PGcgY2xhc3M9ImNscy0yIj48bGluZSBjbGFzcz0iY2xzLTMiIHgxPSIxOC40MyIgeTE9IjE4LjUiIHgyPSIxNC41NyIgeTI9IjE0LjY1Ii8+PC9nPjxjaXJjbGUgY2xhc3M9ImNscy0zIiBjeD0iOSIgY3k9IjkiIHI9IjgiLz48L2c+PC9nPjwvZz48L3N2Zz4=")
          100% 50% no-repeat;
        cursor: pointer;
        transform: translateY(-1px);
      }

      @media (max-width: 768px) {
        li {
          text-align: center;

          &:first-child {
            margin-top: 24px;
          }
        }

        .search {
          margin: 24px auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;

      width: 100vw;
      padding: 0 15px;
      background-color: #fff;

      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s;
      margin-left: 0;

      &.active {
        max-height: 100vh;
        overflow: auto;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }

      ul {
        width: 100%;

        li {
          display: flex;
          padding: 0;
          line-height: 48px;

          // &:first-of-type {
          //   padding-left: 12px;
          // }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mobileTrigger {
      display: block;
    }
  }
}
