@import "../../theme/var.scss";

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

$height: 64px;

header {
  position: sticky;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .logo {
    height: $height;
    line-height: $height;
    text-align: left;

    img {
      width: 32px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      li {
        display: inline-flex;
        padding: 0;
        vertical-align: middle;
        line-height: 64px;
        padding: 0 12px;

        &:first-of-type {
          padding-left: 0;
        }

        &.active {
          color: $primaryColor;
        }

        a {
          color: inherit;
        }
      }
    }
  }

  .login {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      color: $primaryColor;
    }
  }

  @media (max-width: 768px) {
    .logo {
      text-align: center;
    }

    .login {
      display: none;
    }

    nav {
      justify-content: center;
    }
  }
}
