.content {
  background: #fff;
  // padding: 32px 24px;

  .title {
    margin: 0.67em 0;
    font-size: 2.5rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }

  .desc {
    font-style: italic;
    color: #929292;
    margin: 14px 0 0px;
    text-align: center;
  }

  .cover {
    max-width: 100%;
  }

  .tags {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;

    color: #959595;
    font-style: italic;
    line-height: 28px;

    .tag {
      display: inline-flex;
      align-items: center;
      margin: 0 1.25rem 1rem 0;
      padding: 0.167rem;
      background-color: #fff;
      border-radius: 2px;
      font-size: 14px;

      img {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 2px;
      }

      span {
        padding: 0 0.75rem;
        line-height: 1.75rem;
        color: #919191;
      }
    }
  }

  .comments {
    .title {
      color: #8a9aa9;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 1.67rem 0 5px;
    }

    .commentContainer {
      background: #f3f4f3;
      border: 1px solid #ebebeb;
      padding: 16px;
      margin-bottom: 35px;
    }
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 48px;
  }
}

.widget {
  background: #ffffff;
  border: 1px solid #ebebeb;
  padding: 21px 30px;
  margin-bottom: 24px;
}

.anchorWidget {
  font-size: 1.167rem;
  color: #000;
}

@media (max-width: 768px) {
  .anchorWidget,
  .widget {
    display: none;
  }
}
