:global {
  .markdown {
    color: #5f5f6f !important;
    background-color: #fff !important;
    overflow: hidden !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      color: #303030;

      > * {
        color: inherit !important;
      }
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    h4,
    h5,
    h6 {
      font-size: 1.2rem;
    }

    p {
      margin: 0 0 30px;
      line-height: 1.75rem;

      code {
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 14px;
    }

    blockquote {
      font-size: 17.5px;
      border-left: 4px solid #ff0064;
      font-style: italic;
      padding: 12px 24px 12px 30px;
      margin: 2em 0;
      border-left-width: 4px;
      border-left-style: solid;
      background-color: #f8f8f8;
      position: relative;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;

      p {
        margin: 0;
      }
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 1.2em auto;
      padding: 0;
      display: block;
      overflow-x: auto;
    }
    table td,
    table th {
      line-height: 1.5em;
      padding: 0.4em 0.8em;
      border: none;
      border: 1px solid #ddd;
    }
    table th {
      font-weight: bold;
      text-align: left;
    }
    table th,
    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
    table th code,
    table tr:nth-child(2n) code {
      background-color: #efefef;
    }

    ul,
    ol {
      line-height: 1.6em;
      margin: 1.2em 0 -1.2em;
      padding-bottom: 1.2em;
      padding-left: 1.5em;

      position: relative;
      z-index: 1;
    }

    ul {
      list-style: outside;
    }

    ol {
      list-style: symbols();
    }

    pre {
      position: relative;

      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0;
      margin-bottom: 20px;
      background: none;
      border: none;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

      code {
        display: block;
        overflow-x: auto;
        padding: 1.4em;
        color: #abb2bf;
        background: #282c34;
      }

      code.language-go:before,
      code.language-css:before,
      code.language-sql:before,
      code.language-php:before,
      code.language-html:before,
      code.language-json:before,
      code.language-bash:before,
      code.language-less:before,
      code.language-scss:before,
      code.language-nginx:before,
      code.language-javascript:before,
      code.language-typescript:before,
      code.language-shell:before,
      code.language-stylus:before,
      code.language-python:before,
      code.language-nginx:before {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        text-align: right;
        font-size: 0.75em;
        padding: 5px 10px 0;
        line-height: 15px;
        height: 15px;
        font-weight: 600;
      }

      code.language-go:before {
        content: "go";
      }

      code.language-css:before {
        content: "css";
      }

      code.language-sql:before {
        content: "sql";
      }

      code.language-php:before {
        content: "php";
      }

      code.language-bash:before {
        content: "bash";
      }

      code.language-less:before {
        content: "less";
      }

      code.language-scss:before {
        content: "scss";
      }

      code.language-shell:before {
        content: "shell";
      }

      code.language-nginx:before {
        content: "nginx";
      }

      code.language-stylus:before {
        content: "stylus";
      }

      code.language-python:before {
        content: "python";
      }

      code.language-html:before {
        content: "HTML";
      }

      code.language-javascript:before {
        content: "JS";
      }

      code.language-typescript:before {
        content: "TS";
      }

      code.language-bash:before {
        content: "Shell";
      }

      code.language-css:before {
        content: "CSS";
      }
    }
  }
}
