::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, 0.4);
  transition: all 0.2s;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: hsla(0, 0%, 100%, 0.6);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  list-style: none;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

body {
  font-family: "Nunito", "Helvetica", Arial, sans-serif;
  color: #5f5f6f;
  line-height: 1.75em;
  overflow-x: hidden;
}
