ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  list-style: none;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

body {
  font-family: "Nunito", "Helvetica", Arial, sans-serif;
  color: #5f5f6f;
  line-height: 1.75em;
  overflow-x: hidden;
}
