::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, 0.4);
  transition: all 0.2s;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: hsla(0, 0%, 100%, 0.6);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  list-style: none;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

body {
  font-family: "Nunito", "Helvetica", Arial, sans-serif;
  color: #5f5f6f;
  line-height: 1.75em;
  overflow-x: hidden;
}

:global {
  * {
    transition: background-color 0.1s linear, margin 0.25s linear,
      opacity 0.25s linear, filter 0.25s linear, visibility 0.25s linear,
      transform 0.25s linear, border-color 0.25s linear;
  }

  // .page-transition-enter {
  //   opacity: 0.1;
  //   transform: translate3d(0, 20px, 0);
  // }
  // .page-transition-enter-active {
  //   opacity: 1;
  //   transform: translate3d(0, 0, 0);
  // }
  // .page-transition-exit {
  //   opacity: 1;
  // }
  // .page-transition-exit-active {
  //   opacity: 0.1;
  // }
}
